<html>
<body>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <a class="active" href="homePage">Home</a>
    <% if(!isLoggedIn) { %>
        <a id="login" href="login">Log In</a>
    <% } %>
    <% if(isLoggedIn){ %>
        <a id="logout" href="logout">Log Out</a>
    <% } %>
    <% if(!isLoggedIn){ %>
        <a id="signup" href="registration">Sign Up</a>
    <% } %>
    <% if(isLoggedIn){ %>
        <a id="postimg" href="postImage">Post Image</a>
    <% } %>
</div>

<form class="search" method="POST" style="margin:auto;max-width:300px; padding-left: 4px;" autocomplete="off" onsubmit="return validateSearch()">
    <input type="text" placeholder="Search..." name="searchbar"id="searchtext" >
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="flexbox">
    <% if(typeof data == 'object' && data && data.length) {
    for(var i = data.length - 1; i >= 0; i--) { %>
        <% var detail = "/imageDetails" + data[i].id %>
        <div class="item"><a class="homeImg" href="<%= detail %>"> <img
                        src="<%= process.env.AWS_BUCKET_GETBUCKET_PUBLIC_NAME + "/" + data[i].photopath %>"
                        style="max-width: 100%;" alt=""> </a></div>
    <% }} %>
</div>

<script type="text/javascript" src="../javascripts/formValidation.js"></script>
</body>
</html>