
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Images</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<div class="navbar">
    <a href="homePage">Home</a>
    <% if(!isLoggedIn) {%>
        <a id="login" href="login">Log In</a> <%}%>
    <% if(isLoggedIn){ %>
        <a id="logout" href="logout">Log Out</a>
    <% } %>
    <% if(!isLoggedIn){ %>
        <a id="signup" href="registration">Sign Up</a>
    <% } %>
    <% if(isLoggedIn){ %>
        <a class="active" id="postimg" href="postImage">Post Image</a>
    <% } %>
</div>

<div class="container">
    <form method="POST" name="postImage" onsubmit="return validatePost()" encType="multipart/form-data">
        <fieldset class="fieldset-form">
            <legend class="page-title">Post image</legend>
            <label for="ptitle"></label>
            <input class="input-field" autocomplete="off" type="text" id="ptitle" placeholder="Enter title" name="title" required/>

            <label for="pdescription"></label>
            <textarea class="input-field" style="font-family: sans-serif;" id="pdescription" placeholder="Enter description" name="description" required></textarea>

            <label for="img"></label>
            <input type="file" id="img" required alt="Post" class="upload-btn" name="img">

            <div class="checkboxes">
                <label for="policy"><input type="checkbox" class="custom-control-input" id="policy" required><span>I accept the Acceptable Use Policy for uploading images.</span></label><br/>
            </div>

            <input class="button" type="submit" value="Submit">
        </fieldset>



    </form>
</div>
<script type="text/javascript" src="../javascripts/formValidation.js"></script>
</body>
</html>